/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://use.typekit.net/umq2wvp.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
html, body {
    
    font-family: rockwell,sans-serif;
    height: 100%;
    background-image: url(blackwood.jpg); 
    text-align: center;
}
svg{
    width: 5%;
    margin: 0 93%;
    position: fixed;
    padding: 45% 0;

}

header {
    background-color: transparent;
    display: inline-block;
    width: 100%;
 
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    font-size: 1.4rem;
    
}
ul li{
    display: inline-block;
    padding: 0px 20px;
   
}
a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #FAB002;
    transition: color 0.3s ease;
}

.carrito {
    width: 2.4rem;
    height: auto;
}

/**Empieza etapa de "inicio"*/

#inicio{
display: flex;
color: white;
}  
.inicio_descripcion{
    text-align: center;
    padding: 1rem;
   
}
.inicio_descripcion h1{
    font-family: "cooper-black-std", serif;
    font-size: 1.9rem;
    color: #FAB002;
    margin-bottom: 2rem;  
   
}
.inicio_descripcion p{
    font-family: rockwell, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: justify;
    line-height: 1.7rem;
}
.inicio_descripcion span{
        font-family: rockwell, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 8rem;
        line-height: 6rem;
       
}
.inicio_descripcion button{
    background-color: #FAB002;
    color: black;
    font-family: rockwell, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    width: 40%;
    height: 14%;
    border-radius: 20px;
    display: inline-block; 
    transition: box-shadow 0.3s ease-in-out;
    border:none;
    box-shadow: 0px 0px 7px rgb(158, 145, 145); 
   

}
.inicio_descripcion button:hover{
    border: none;
    box-shadow: 0px 0px 13px rgb(158, 145, 145); 
}
.inicio_ilustracion{
    width: 55%
      
}
.img1{
    width: 560px;
}

/*Empieza la sección del menu*/
#menu{
  width: 100%;
  height: 100%;
}
.swiper-slide{
  padding: 2rem;
  margin: 2rem 0;
  background-color: rgba(255, 255, 255, 0.116);
  border-radius: 30px;

}
.swiper-slide h1{
    color: #FAB002;
    margin: 9px;
}
.swiper-slide p{
    font-size: 1.6rem;
    margin: 1rem;
    font-weight: 540;
}
.swiper {
  width: 90%;
  height: 100%;
  border-radius: 30px; 
}
.productinfo{
  background-color: yellow;
}
.sliderimg{
  width: 400px;
  
}

.nav-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}
.nav-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
.swiper-button-next {
  right: 50px;
}
.swiper-button-prev {
  left: 50px;
}
.nav-btn::before,
.nav-btn::after {
  font-size: 25px;
  color: #fff;
}
.swiper-pagination-bullet {
  opacity: 1;
  height: 12px;
  width: 12px;
  background-color: #fff;
  visibility: hidden;
}
.swiper-pagination-bullet-active {
  border: 2px solid #fff;
  background-color: #c87e4f;
}

button{
    background-color: #FAB002;
    color: black;
    font-family: rockwell, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    width: 20%;
    height: 10%;
    border-radius: 20px;
    display: inline-block; 
    transition: box-shadow 0.3s ease-in-out;
    border:none;
    box-shadow: 0px 0px 7px rgb(158, 145, 145); 
   

}
button:hover{
    border: none;
    box-shadow: 0px 0px 13px rgb(158, 145, 145); 
}

/*Contacto section*/

h1{
    color: #FAB002;
    font-family: cooper,sans-serif;
    font-size: 2.1rem;
    margin: 5%;
}

#contacto{
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 2% 0;
    height: 100%;
    
   
}
#contacto #map {
    border: 10px solid lightgray;
    border-radius: 10px;
    margin: 1%;
    width: 50%;
    height: 96%;
    
}
#contacto h1{
    color: #FAB002;
    background-color: aqua;
    
}
#contacto .contact{
   display: grid;
   grid-template-areas: 
   "seccioncontacto1 seccioncontacto2"
   "seccioncontacto3 seccioncontacto3"
   "redes redes";
   text-align: center;
   width: 50%;
   font-family: rockwell,sans-serif;
   font-size: 1.6rem;
   color: white;
  
}
.seccioncontacto1{
    grid-area: seccioncontacto1;
}
.seccioncontacto2{
    grid-area: seccioncontacto2;
}
.seccioncontacto3{
    grid-area: seccioncontacto3;
}
.redes{
    grid-area: redes;
        
}
.insta, .face, .whats{
    margin: 2% 12%;
    width: 50px;
}

h2{
    margin: 4rem;
    color: #FAB002;
    font-weight: bold;
    font-size: 2rem;
}


/*Acerca de */
#acerca_de{
    display: flex;
}
.acerca_de_ilustracion{
    width: 50%;
    margin: 2%;
    padding: 3% 0;
}
.about_us_img{
    width: 600px;
    border-radius:30px;
}

.acerca_de_descripcion {
    width: 60%;
    margin: 2%;
    color: white;
    font-size: 1.4rem;
    
  
}
.acerca_de_descripcion p{
    margin: 3rem 0;
    text-align: justify;
}

/*Experiencias*/

#experiencias{
    display:flex;
}
#experiencias div{
    text-align:center;
    margin: 3% 5%;
}
.customer-img{
    width: 320px;
    height: 420px;
    border-radius: 20px;
}

.experiencias_descripcion {
    position: absolute; 
    background-color: rgba(31, 30, 28, 0.863);
    color: #fff;
    padding: 50% 1%;
    border-radius: 20px;
    display: none; 
    z-index: 1; 
    width: 320px;
    height: 420px;
    margin: -147% 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size:x-large;
}

.customer:hover .experiencias_descripcion {
    display: block; 
    opacity: 1;
    box-shadow: 0px 0px 13px #FAB002; 
}

.customer {
    position: relative; /* Asegura que el contenedor de la imagen sea relativo */
}
#experiencias h1{
    font-size: 1.5rem;
}
.btnexperiencias{
    margin: 3%;
    background-color: #FAB002;
    color: black;
    font-family: rockwell, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    width: 20%;
    height: 10%;
    border-radius: 20px;
    display: inline-block; 
    transition: box-shadow 0.3s ease-in-out;
    border:none;
    box-shadow: 0px 0px 7px rgb(158, 145, 145); 
}
.btnexperiencias:hover{
    border: none;
    box-shadow: 0px 0px 13px rgb(158, 145, 145); 
}

